$main-color:#f2eaf8;
$secondary-color:#c8d9f7;
$toolbar-color:#007bff;
$nav-color:#1a223a;
$black:#000;
$white:#fff;
$grey:rgb(94, 94, 94);
$red:rgb(255, 0, 0);
$green:rgb(0, 255, 85);
$dark-blue:rgb(0, 84, 163);
$button-color:rgb(235, 253, 255);
$button-hover-color:rgb(0, 38, 73);

$border-radious-content:0.5rem;
$border-radious-form:1rem;
$horizontal-spacer:1 1 auto;
$vertical-spacer:1px solid white;

$app-font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$app-font-size:1.2rem;
$app-font-size-title:1.5rem;
$app-margin-top:0.5rem;
$app-margin-bottom:0.5rem;
$app-margin-left:1rem;
$app-margin-right:1rem;
$app-padding-top:0.2rem;
$app-padding-bottom:0.2rem;
$app-padding-left:0.4rem;
$app-padding-right:0.4rem;
