@import 'variables';

.mat-nav-list{
  background: $nav-color;
}

::ng-deep .mat-list-item-disabled {
  cursor: not-allowed !important;
  opacity: 0.8;
  background-color: $disabled !important;
}

.nav-link{
  margin-left: $app-margin-left;
  color:$white;
}

.white-icon {
  color: $white;
}

.vertical-spacer{
  border: $vertical-spacer
}
