@import 'variables';
@import 'styles';

.mat-toolbar.mat-primary {
  background: $toolbar-color;
  color: $white;
}

.horizontal-spacer{
  flex: $horizontal-spacer;
}

div#header img {
  width:120px;
  height:40px;
 }


 #installationHeader {
  margin: 0px;
  padding: 0px;
  position: relative;
  float: left;
  height: 45px;
}

div#installationHeader .installationclass{
  background-color: $black;
  font-family: $app-font-family;
  font-size:  $app-font-size-small;
  border-radius: $border-radious-content;
  padding-left: $app-padding-left;
  padding-right: $app-padding-right;
  margin-right: 1.5rem;
  height: 30px;
}


#userHeader {
  display: flex;
}

div#userHeader .nameclass{
  text-transform: uppercase;
  background-color: $blue;
  font-family: $app-font-family;
  font-size: $app-font-size-small;
  border-radius: $border-radious-content;
  margin-right: $app-margin-right;
  padding-left: $app-padding-left;
  padding-right: $app-padding-right;
  height: 30px;
}

div#userHeader .roleclass{
  font-size:  $app-font-size-small;
  height: 20px;
  width: 100px;
  margin-top: -2%;
  margin-left: 5px;
  text-align: left;
}

div#userHeader .custom-button-class{
  @extend %custom-button;
  margin-top: 0px;
}



