
@import 'variables';

mat-toolbar.mat-primary {
  background: $nav-color;
  color: $white;
}

mat-sidenav{
  width:200px;
}

mat-sidenav-content{
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav-container{
  height: 100%;
}

